
<div id="three" class="p--fixed trbl--0 mx--auto my--auto w--100 h--100 z--0"></div>
<main class="">
  <h1 class="ff--ubuntu fs--large fw--bold p--fixed top--0 left--0 px--5 py--3 bg__black c__white bradius--2 mt--5 ml--5">Sitio en construcción</h1>
  <section class="home-data main--container wrapper__readable--45-75 p--fixed bottom--0 right--0 mt--auto mr--lg--5">
    <div class="bg__white--alpha bg__frosted px--5 pt--3 pb--5">
      <h1 class="ff--ubuntu fs__clamp--2 fw--bold mb--3">Mauricio Villegas Belmont</h1>
      <h2 class="ff--ubuntu fs--medium">Diseñador gráfico, web, layout y frontend</h2>
    </div>

    <details name="about" class="details__albanene">
      <summary class="ff--ubuntu fs--300 bulletted__marker bullet text--underline bg__white--alpha bg__frosted pl--7 pr--5 py--3">Mas acerca de mi</summary>
      <div class="details__albanene__content container__scroll mr--5 ml--5 py--6 px--5 bg__black c__white">
        <p class="mb--5">Soy un <strong>desarrollador web</strong> y <strong>diseñador frontend</strong> con más de 6 años de experiencia en la creación de experiencias digitales cautivadoras y funcionales. Cuento con amplia experiencia en el desarrollo de sitios web con <strong>HTML, CSS</strong> y <strong>JavaScript</strong>, principalmente en servidores <strong>LAMP,</strong> así como en frameworks <strong>CMS</strong> y <strong>LMS</strong> como Wordpress, Laravel, Joomla, CodeIgniter y Moodle. También he incursionado un poco en servidores Node.js con frameworks como Express.</p>
        <p class="mb--3">Entre los principales proyectos en los que he participado se encuentran:</p>
        <ul class="bulletted__list middleScore pl--6">
          <li class="mb--3">Cursos de capacitación.</li>
          <li class="mb--3">Landing pages de marketing digital.</li>
          <li class="mb--3">Presentaciones interactivas y sitios web.</li>
          <li class="mb--3">Infografías digitales y responsivas.</li>
        </ul>
      </div>
    </details>
    <details name="about" class="details__albanene">
      <summary class="ff--ubuntu fs--300 bulletted__marker bullet text--underline bg__white--alpha bg__frosted pl--7 pr--5 py--3">Habilidades</summary>
      <div class="details__albanene__content container__scroll mr--5 ml--5 py--6 px--5 bg__black c__white">
        <h1 class="ff--ubuntu fw--bold fs--medium mb--5">Entre mis habilidades figuran</h1>
        <div class="d--flex">
          <img src="/site_media/img/icons/icon_ubuntu.svg" alt="LAMP" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">LAMP - Ubuntu</dt>
            <dd>apache2 - basics</dd>
            <dd>mysql - basics</dd>
            <dd>wsl</dd>
          </dl>
        </div>

        <div class="d--flex">
          <img src="/site_media/img/icons/icon_php.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">PHP - CRUD</dt>
            <dd>Frontend MVC</dd>
            <dd>CMS - wordpres, europio, laravel, codeigniter</dd>
          </dl>
        </div>


        <div class="d--flex">
          <img src="/site_media/img/icons/icon_js.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">Javascript</dt>
            <dd>jQuey</dd>
            <dd>Node - webpack boundle</dd>
            <dd>Node - express - REST</dd>
          </dl>
        </div>

        <div class="d--flex">
          <img src="/site_media/img/icons/icon_css.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">CSS - styles/layout</dt>
            <dd>dart sass</dd>
            <dd>OOCSS / SMACSS / ITCSS</dd>
            <dd>BEM</dd>
            <dd>Bootstrap</dd>
          </dl>
        </div>

        <div class="d--flex">
          <img src="/site_media/img/icons/icon_design.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">Diseño gráfico</dt>
            <dd>Photoshop</dd>
            <dd>Illustrator</dd>
            <dd>InDesign</dd>
            <dd>AfterEffects</dd>
            <dd>Captivate</dd>
          </dl>
        </div>

        <div class="d--flex">
          <img src="/site_media/img/icons/icon_tools.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">Otras habilidades</dt>
            <dd>Git</dd>
            <dd>Composer</dd>
            <dd>Custom icon fonts - (iconmoon)</dd>
            <dd>svg/smil</dd>
            <dd>webm/webp</dd>
            <dd>custom plugin wordpress</dd>
            <dd>lighthouse report</dd>
          </dl>
        </div>
      </div>

    </details>
    <details name="about" class="details__albanene">
      <summary class="ff--ubuntu fs--300 bulletted__marker bullet text--underline bg__white--alpha bg__frosted pl--7 pr--5 py--3">Diseño, creatividad y codigo</summary>
      <div class="details__albanene__content container__scroll mr--5 ml--5 py--6 px--5 bg__black c__white">

        <div class="d--flex">
          <img src="/site_media/img/icons/icon_code.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">Micrositios:</dt>
            {{#each links.page}}
            <dd class="mb--3 pb--3"><a href="/portafolio/{{key}}" class="c__white">{{name}} <small class="d--block fs--xsmall c__gray">{{customer}}- {{device}}</small></a></dd>
            {{/each}}
          </dl>
        </div>
        <div class="d--flex">
          <img src="/site_media/img/icons/icon_system.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">CMS</dt>
            {{#each links.cms}}
            <dd class="mb--3 pb--3"><a href="/portafolio/{{key}}" class="c__white">{{name}} <small class="d--block fs--xsmall c__gray">{{customer}}- {{device}}</small></a></dd>
            {{/each}}
          </dl>
        </div>

        <div class="d--flex">
          <img src="/site_media/img/icons/icon_youtube.svg" alt="php" width="32" height="32" class="icon__skill mt--2 mr--5">
          <dl class="mb--5 bulletted__detailed_list bullet">
            <dt class="ff--ubuntu fs--300 fs--medium mb--3">Multimedia - Videos:</dt>
            {{#each links.youtube}}
            <dd class="mb--3 pb--3"><a href="https://www.youtube.com/watch?v={{key}}" class="c__white" target="_blank"
                rel="noopener">{{name}}
                <small class="d--block fs--xsmall c__gray">{{customer}} - {{device}}</small></a></dd>
            {{/each}}

          </dl>
        </div>


      </div>
    </details>
    <a href="https://docs.google.com/document/d/1jIhUBwKHxOBfE9lO3590M-J-0DH_Z03SBiTgbt9l_ko" class="d--block ff--ubuntu fs--300 bulletted__item bullet text--underline bg__white--alpha bg__frosted pl--7 pr--5 py--3 c__black" target="_blank" rel="noopener">Currículo</a>
    <details name="about" class="details__albanene">
      <summary class="ff--ubuntu fs--300 bulletted__marker bullet text--underline bg__white--alpha bg__frosted pl--7 pr--5 py--3">Contacto</summary>
      <div class="details__albanene__content container__scroll mr--5 ml--5 bg__black c__white">
        <div id="msg_success" class="p--relative text--center c__white ff--ubuntu d--none">
          <img src="/site_media/img/cartero.webp" alt="nuestro mensajero" loading="lazy">
          <div class="p--absolute d--flex flex__direction--column justify__content--center trbl--0 px--7 py--5 mx--auto my--auto">
            <h1 class="mb--3 fs__clamp--3  fw--bold text--center">¡Gracias!. Un mensajero ha sido enviado para hacerme llegar tu mensaje</h1>
            <p>…estaremos en contacto.</p>
          </div>
        </div>
        <form id="contact-form" action="/contact/" method="post" data-sitekey="{{RECAPTCHA_SITE_KEY}}" enctype="multipart/form-data" class="py--6 px--5">
          <input type="hidden" name="token" value="">
          <div class="px--gap  form--group mx--auto my--5">
            <input type="text" name="nombre" value="" placeholder="Nombre" class="input__text c__black px--5 py--3" autocomplete="username" required>
          </div>
          <div class="px--gap  form--group mx--auto my--5">
            <input type="email" name="email" value="" placeholder="Correo electrónico" class="input__text c__black px--5 py--3" autocomplete="email" required>
          </div>
          <div class="px--gap  form--group mx--auto my--5">
            <textarea name="mensaje" class="input__textarea c__black px--5 py--5" cols="30" rows="5" placeholder="Deje su mensaje" required></textarea>
          </div>
          <div  class="error-msg text--center d--none">
            <p class="ff--ubuntu c__white brush"></p>
          </div>
          <div class="px--gap  form--group mx--auto my--5 py--5">
            <button id="btnSubmit" type="submit" name="btnSubmit" class="btn__cta bradius--1 bg__flush-mahogany d--inline-flex c__white px--6 py--4" >Enviar</button>
          </div>
        </form>
      </div>
    </details>
  </section>
</main>